07_midterm_project/data/
bank-full.csv
structure.py
06_trees/jamb_exam_results.csv
06_trees/jamb_exam_results.csv.1
07_midterm_project/logs
07_midterm_project/artifacts

git rm -r --cached 07_midterm_project/logs 07_midterm_project/artifacts